h2 Brito is also here!

style.
	.normal-box {
		background: green;
		border: 1px solid red;
		width: 250px;
	}

	.highlight-box {
		background: blue;
		border 1px dashed red;
		width: 500px;
	}

	.redtext {
		color: red;
	}

script.
	$(function() {
		var $myNode = $('#brito > div')
		$myNode.addClass('normal-box')
	})

div.newBox
	p hello there!