h2 Brito is also here!

style.
	.normal-box {
		background: green;
		border: 1px solid red;
		width: 50px;
		height: 50px;
		transition-duration: 0.2s;
		border-radius: 25px;
		text-align: center;
	}

	.highlight-box {
		background: blue;
		border: 5px dashed red;
		width: 50px;
		height: 50px;
		transform:rotate(20deg);
		transition-duration: 0.2s;
		border-radius: 0px;
	}

	.redtext {
		color: red;
	}

script.
	$(function() {
		var $myNode = $('#brito > div')
		$myNode.addClass('normal-box')

		$myNode.click( function fooClick() {
			$(this).toggleClass('highlight-box')
		})
	})

div.newBox
	p Click me!