style.
    .g-dummy {
        position: absolute;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 200px;
        height: 100px;
        border: none;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        font: normal 100%/normal Arial, Helvetica, sans-serif;
        color: rgba(0,0,0,1);
        -o-text-overflow: clip;
        text-overflow: clip;
        background: #1abc9c;
    }

script.

    $(function(){

        var $node = $('#gustavo .g-dummy:first')
        console.log($node)

        var n, tick

        $.ajax({
            url : "/gustavo/box",
            type: "GET",
        }).done(function(data) {

            console.log(data)
            tick = true
            n = parseFloat(data)
            draw()
        })

        $('.g-end').click(function(){

            tick = !tick

            if (tick) {
                $('.g-end').text('Stop')
            } else {
                $('.g-end').text('Start')
            }

            draw()
        })

        function draw(){

            var x = n + Math.random() * 200
            var y = n + Math.random() * 200

            $node.css({ top : x, left : y, width : x / 5, height : y / 5 })
            if(tick)
                window.requestAnimationFrame(draw)
        }
    })

.g-dummy
button.g-end stop

div(ng-controller="GustavoController")

    input(type='text', ng-model='fields.name')
    button(ng-click='log()') Click me first

    br

    input(type='text', ng-model='field' ng-repeat='field in fields')
    button(ng-click='log1()') Click me second