script(src="javascripts/users/luciano.js")


style.

    .luciano-a {
        background : white;
    }

    .luciano-b {
        background : red;
    }



script.
    $(function(){
        var $node = $('#luciano h3:first')
        $node.addClass('luciano-a')
        debugger
        $node.mouseover(function(){
            $(this).toggleClass('luciano-b')
        })
    })

h3 1st header
h3 2nd header