link(rel='stylesheet', href='/stylesheets/pedro.css')

div.pedroForm(ng-controller="PedroController")
	p Current color
	form(novalidate class="simple-form")
		input(type="text", name="color", ng-model="color")

	.pedro-circle
		.content(style="background-color : {{color}};")