link(rel='stylesheet', href='/stylesheets/pedro.css')

div.baseContainer 
	div.innerContainer
		p Pedro
		p Amaral
		p first jade

script.

	$(function(){
	
		var $node = $('#pedro p')

		$node.click( function toggleSelect() {

			$(this).toggleClass('pedro-selected')
		})
	})  


	$(function(){
	
		var $node = $('#pedro p')

		$ajax({
			url:"pedro/cycle",
			type: "GET",
		}).done(function(data) {

			pedroDraw()
		})

		$node.click( function toggleSelect() {

			$(this).toggleClass('pedro-selected')
		})
	})  
