script(src="javascripts/users/portas.js")

link(rel='stylesheet', href='/stylesheets/portas.css')

h2 Bouncing Ball

#circulo.circle

script.

    $function() {
      $ajax({
          url: "/bouncing",
          type: "GET"
      }).done(function(data){
            var $ball = $('#circulo')
            console.log("ursooooo")

            $ball.animate({
              left: "+=300px"
              }, 1500).find("circulo").effect( "bounce", { times: 4,
              distance: 100 }, 1500 );
          }
      )
    }