link(rel='stylesheet', href='/stylesheets/portas.css')

h2 Bouncing Ball

script.

    $(function(){

        var $node = $('#portas .circle:first')
        console.log($node)

        var n, tick

        $.ajax({
            url : "/portas/bouncing",
            type: "GET",
        }).done(function(data) {

            console.log("Portas "+data)
            n = parseFloat(data)
            draw()
        })

        function draw(){

            var x = n + Math.random() * 300
            var y = n + Math.random() * 100
            $node.css({ left : y , right: x})
            window.requestAnimationFrame(draw)
        }
    })

.circle
