script(src="javascripts/users/portas.js")

link(rel='stylesheet', href='/stylesheets/portas.css')

h1 Tabela hihihi!

.Tabela
    table
        tr
          td
            | Título 1 
          |                         
          td
            | Título 2
          |                         
          td
            | Título 3
        |                     
        tr
          td
            | Linha 1
          |                         
          td
            | Linha 1
          |                         
          td
            | Linha 1
        |                     
        tr
          td
            | Linha 2
          |                         
          td
            | Linha 2
          |                         
          td
            | Linha 2
        |                     
        tr
          td
            | Linha 2
          |                         
          td
            | Linha 2
          |                         
          td
            | Linha 2
        |                     
        tr
          td
            | Linha 3
          |                         
          td
            | Linha 3
          |                         
          td
            | Linha 3
