script(src="javascripts/users/ricardo.js")

link(rel='stylesheet', href='/stylesheets/ricardo.css')


style.
    .ricardo-dummy {
        position: absolute;
        width: 50px;
        height: 50px;
        -webkit-border-radius: 20%;
        border-radius: 20%;
        background: #000;
    }
    
script.

    $(function(){
        var n, $node, tick
        
        $node = $('#ricardo .ricardo-dummy:first')
        console.log($node)

        $.ajax({
            url : "/ricardo/rand",
            type: "GET",
        }).done(function(data) {

            console.log(data)
            tick = true
            n = parseFloat(data)
            draw()
        })

        $('.ricardo-end').click(function(){

            tick = !tick
            draw()
        })

        function draw(){

            var x = n + Math.random() * 100
            var y = n + Math.random() * 100

            $node.css({ top : x, left : y })
            if(tick)
                window.requestAnimationFrame(draw)
        }
    })

.ricardo-dummy
button.ricardo-end run/stop
