script(src="javascripts/users/ricardo.js")

link(rel='stylesheet', href='/stylesheets/ricardo.css')


script.

    $(function(){
        var n, $node, tick
        
        $node = $('#ricardo .tiago-dummy:first')
        console.log($node)

        $.ajax({
            url : "/ricardo/rand",
            type: "GET",
        }).done(function(data) {

            console.log(data)
            tick = true
            n = parseFloat(data)
            draw()
        })

        $('.tiago-end').click(function(){

            tick = !tick
            draw()
        })

        function draw(){

            var x = n + Math.random() * 100
            var y = n + Math.random() * 100

            $node.css({ top : x, left : y })
            if(tick)
                window.requestAnimationFrame(draw)
        }
    })

.tiago-dummy
button.tiago-end run/stop
