extends layout

block scripts
    script(src="javascripts/lib/jquery/dist/jquery.min.js")

block content

    //- h1 gustavo
    //- #gustavo
    //-     include ./includes/gustavo.jade

    h1 portas
    #portas
        include ./includes/portas.jade

    h1 miguel
    #miguel
         include ./includes/miguel.jade

    h1 ricardo
    #ricardo
        include ./includes/ricardo.jade

    h1 pedro
    #pedro
        include ./includes/pedro.jade

    //- h1 luciano
    //- #luciano
    //-      include ./includes/luciano.jade

   // h1 tiago
   // #tiago
   //   include ./includes/tiago.jade

    h1 brito
    #brito
         include ./includes/brito.jade
