extends layout

block scripts

    include ./includes/gustavo.jade
    include ./includes/portas.jade
    include ./includes/miguel.jade
    include ./includes/ricardo.jade
    include ./includes/pedro.jade
    include ./includes/luciano.jade
    include ./includes/tiago.jade

block content

  p Welcome to
  p first test, class 2
