extends layout

block scripts


block content

    h1 gustavo
    include ./includes/gustavo.jade

    h1 portas
    include ./includes/portas.jade

    h1 miguel
    include ./includes/miguel.jade

    h1 ricardo
    include ./includes/ricardo.jade

    h1 pedro
    include ./includes/pedro.jade

    h1 luciano
    include ./includes/luciano.jade

    h1 tiago
    include ./includes/tiago.jade