.baseContainer {
	height: 20em;
	width: auto;
	background-color: lightgrey;

}

.innerContainer {
	height: 10em;
	width: auto;
	background-color: grey;
	vertical-align: center;
	padding: 4em 2em; 
}

.pedro-selected {

	background-color: black;
}

.pedro-circle {
	position: relative;
    width: 100px;
	height: 100px;	
	border-radius: 50%;
	border : 5px solid black;
}

.pedro-circle .content{

	border-radius: 50%;
	width : inherit;
	height : inherit;
	position : absolute;
}